body {
  background-color: white;
  font-family: Tahoma, serif;
  padding-left: 15%;
  padding-right: 15%;
}

p {
  color: black;
}

h1 {
  color: #27AE60;
}

h2 {
  color: grey;
  margin-top: 2.5em;
}

ul {
  margin: 1em;
  color: black;
}

a {
  color: black;
}

.projects {
  color: grey;
  font-weight: bold;
  margin-top: 1.5em;
}

b.poste {
  color: grey;
  font-weight: bold;
  margin-top: 2em;
}


.job {
  padding-bottom: 1em;
}

div.child { display: inline; }
div.parent { width: 400px; margin: 0 auto; }
